@import url(root.css);

body {
  color: var(--text-color);
}
/* header section */

header {
  box-shadow: 0px 4px 35px 0px #00000014;
}
.h-right input {
  border: 1px solid #00000033;
  outline: none;
}
/* cards */
.comment {
  border: 1px solid #00000033;
}

.card {
  border: 1px solid #00000033;
  background: var(--white);
}

.card .username {
  opacity: 60%;
}

.peer:checked ~ .checkbox-parent .big-circle {
  background-color: #1a9fff !important;
  opacity: 10%;
}
.peer:checked ~ .checkbox-parent .small-circle {
  background-color: #1a9fff !important;
}
img {
  max-width: 100%;
  height: auto;
}
.card_img_parent {
  border: 1px solid #0000001a;
  background-color: #fafafa;
}
@media (max-width: 1023px) {
  /* header  */
  .search_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  .hb {
    width: 50px;
    height: 50px;
  }
  .h-left {
    gap: 22px;
  }
  /* main below 1024 */
  .main-son {
    display: flex;
    flex-direction: column-reverse;
  }
  .m-right {
    position: static;
    max-width: 100%;
  }
  .users {
    flex-direction: row;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    /* max-width: 100% !important; */
    /* width: 100%; */
  }
  .user {
    flex-direction: column;
    max-width: 119px !important;
    width: 100% !important;
    border: 1px solid #00000033;
    padding: 19px 27px 14px 28px;
    gap: 1px;
    background: var(--white);
  }
  .photo-name {
    flex-direction: column;
    gap: 9px;
    text-align: center;
    min-width: 64px;
    width: 100%;
    font-weight: 400;
  }

  .photo-name .username {
    line-height: 150% !important;
  }

  .m-righ .user .username {
    font-size: 12px;
  }

  .user .follow {
    font-size: 12px;
    line-height: 150%;
  }
  .user .follow:hover {
    transition: 0.2s;
    color: red;
    cursor: pointer;
  }

  .btns span {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    vertical-align: middle;
    /* color: #000; */
    /* opacity: 60%; */
    /* color: ; */
  }
}

@media (max-width: 640px) {
  /* header below 1024 */
  header {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .logo img {
    width: 109.11px;
    height: 32px;
  }
  .h-left {
    gap: 18px;
  }
  .hb {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }
  /* header right side  */
  .search_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  .h-right .user_img {
    width: 32px;
    height: 32px;
  }
  /* main below 640 */
  .main-son {
    padding-top: 16px !important;
    padding: 0%;
    gap: 16px;
  }
  .m-left {
    padding-left: 16px;
    padding-right: 16px;
  }
  .m-right {
    padding-left: 16px;
  }

  .filter {
    margin-bottom: 7px;
  }

  /* btns below 640 */
  .btns span {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    vertical-align: middle;
    /* opacity: 60%; */
  }

  /* user suggestion */
  .sug {
    margin-top: 16px;
  }

  .sug > p,
  .filter {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
  }

  .filter {
    margin-bottom: 7px;
    line-height: 150%;
  }

  /* card below 640 */
  .card {
    padding: 13px 16px 18px 11px;
  }
  .card-head {
    margin-bottom: 13px;
  }
  .card-head .name-photo img {
    width: 32px;
    height: 32px;
  }
  .card-head .username {
    font-size: 12px;
  }
  .card > img {
    width: 12px;
    height: 12px;
  }
  .card_img_parent {
    border: none;
    margin-bottom: 1px;
  }
  .card .like-comment {
    margin-top: 12px;
    margin-bottom: 22px;
  }
  .card .like-comment svg {
    width: 16px;
    height: 16px;
  }
  .card-body .comment {
    font-size: 12px;
    padding: 7px 15px 7px 15px !important;
  }

  .s-card {
    padding-bottom: 22px;
    padding-top: 12px;
  }
}
